.frame {
   width: 80vmin;
   height: 80vmin;
   margin: auto;
   background: #fff url('white-paper-texture.jpg');
   border: 3vmin solid #000;
   border-radius: 50%;
   box-shadow: 
      inset 35px 35px 85px rgba(0,0,0,.2),
      inset 15px 15px 25px rgba(0,0,0,.4), 
      15px 15px 25px rgba(0,0,0,.5),
      35px 35px 65px rgba(0,0,0,.5);
   position: relative;
}

.frame::before {
   content: '';
   width: 95%;
   height: 95%;
   border-radius: 50%;
   display: block;
   border: 2vmin solid white;
}

.frame::after {
   content: '';
   width: 105%;
   height: 105%;
   border-radius: 50%;
   display: block;
   position: absolute;
   top: -2.5%;
   left: -2.5%;
   box-shadow: -3px -3px 9px rgba(255,255,255,.8);
}

.label {
   position: relative;
   bottom :75%;
   text-align: center;
   font-size: 2.7vmin;
}

.hand {
   width: 25vmin;
   height: 2vmin;
   background: #000;
   position: absolute;
   top: 40vmin;
   left: calc(50% - 3.5vmin);
   z-index: 2;
   transform: rotate(90deg);
   transform-origin: 16%;
   -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
   filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
}

.hand::after {
   content: '';
   background: #000;
   width: 5vmin;
   height: 5vmin;
   border-radius: 50%;
   position: absolute;
   top: -1.5vmin;
   left: 1.5vmin;
}

.hand__hour {
   border-top-right-radius: 20%;
   border-bottom-right-radius: 20%;
   box-shadow: -10px 0px 10px rgba(0,0,0,.4);
}

.hand__minute {
   width: 35vmin;
   height:1vmin;
   top: 40vmin;
   transform: rotate(275deg);
   transform-origin: 11.5%;
   border-top-right-radius: 30%;
   border-bottom-right-radius: 30%;
   box-shadow: -10px 10px 10px rgba(0,0,0,.4);
}

.hand__minute::after {
   top: -2vmin;
}

.hand__second {
   width: 35vmin;
   height: .5vmin;
   top: 40.6vmin;
   transform: rotate(260deg);
   transform-origin: 11.5%;
   box-shadow: -10px -10px 10px rgba(0,0,0,.4);
}

.hand__second::before {
   content: '';
   width: 4.5vmin;
   height: 4.5vmin;
   border-radius: 50%;
   z-index: 99;
   position: absolute;
   top: -2vmin;
   left: 1.75vmin;
   box-shadow: -2px -2px 7px rgba(255,255,255,.6)
}

.hand__second::after {
   top: -2.25vmin;
}

.hour {
   height: 0.9vmin;
   width: 55vmin;
   background: transparent;
   border-left: 7vmin solid #000;
   border-right: 7vmin solid #000;
   
   transform: translate(-50%, -50%);
   top: 50%;
   left: 50%;
   position: absolute;
}

.hour__90deg {
   transform: rotate(90deg) translate(0, 33.9vmin);
}

.hour__120deg {
   transform: rotate(120deg) translate(17vmin, 29.3vmin);
}

.hour__150deg {
   transform: rotate(150deg) translate(29vmin, 16.6vmin);
}

.hour__210deg {
   transform: rotate(210deg) translate(30vmin, -17.3vmin);
}

.hour__240deg {
   transform: rotate(240deg) translate(17vmin, -29.8vmin);
}